/* layout/header.css */
.nav-home {
  left: 40.16vw;
  top: 2.54vh;
}

.nav-func {
  left: 44.62vw;
  top: 2.54vh;
}

.nav-contact {
  left: 52.89vw;
  top: 2.54vh;
}

.login-btn-wrapper {
  position: absolute;
  left: 78.47vw;
  top: 1.99vh;
}

.logo--header {
  position: absolute;
  left: 14.99vw;
  top: 2.1vh;
  font-size: 2.5vh;
  line-height: 3.2vh;
}

.logo--login {
  position: absolute;
  left: 8.1vw;
  top: 5.21vh;
  font-size: 2.5vh;
  line-height: 3.2vh;
}