/* layout/hero.css */

.hero-title {
  position: absolute;
  width: 43.23vw;
  height: 33.1vh;
  left: 15.45vw;
  top: 11.96vh;
  font-weight: 900;
  font-size: 10.12vh;
  line-height: 11.04vh;
  letter-spacing: -0.05em;
}

.hero-desc {
  position: relative;
  width: 57.12vw;
  height: 31.11vh;
  left: 15.45vw;
  top: 54.25vh;
  font-size: 3.95vh;
  line-height: 5.19vh;
  letter-spacing: -0.05em;
}