/* layout/login.css */

.login-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: conic-gradient(from -68.9deg at 74.22% 21.83%,
      #ffffff 0deg,
      #ffffff 22.5deg,
      #c584bf 116.83deg,
      #2163ff 211.15deg,
      #ffffff 360deg);
}

.login-frame {
  position: absolute;
  left: 39.0vw;
  top: 26.3vh;
}

.login-input-wrapper {
  position: absolute;
  width: 18.52vw;
  left: calc(50% - 18.52vw/2);
  top: var(--top, 13.24vh);
}

.login-button-wrapper {
  position: absolute;
  width: 18.52vw;
  left: calc(50% - 18.52vw/2);
  top: var(--top, 13.24vh);
}

.info-text {
  position: absolute;
  width: 18.52vw;
  height: 2vh;
  left: var(--left, 1.74vw);
  top: var(--top, 11vh);
  font-size: 1.55vh;
  line-height: 2vh;
  color: #000000;
}

.icon-wrapper {
  position: absolute;
  flex-shrink: 0;
  margin-right: 0.5rem; 
  padding: 1.3vh;  
  display: flex;             
  align-items: center;       
  justify-content: center;
}