# Kompilacja C++ z CMake + Visual Studio stuff
**/.vs/
**/.vscode/
**/bin/
**/build/
**/cmake-build*/
**/Debug/
**/Release/
**/x64/
**/x86/
**/*.vcxproj*
**/*.sln
**/*.suo
**/*.user
**/*.opendb

# Python
**/__pycache__/
**/*.pyc
**/*.pyd
**/*.pyo

# Virtualenv
.venv/
**/venv/
/env/

# Environment variables
**/*.env

# Django
*.log
/media/
/static_collected/
db.sqlite3

# Django migrations (ignore all migrations folders and their contents)
**/migrations/
