# djangocore
Django==5.2.4
djangorestframework==3.16.0

# api documentation
drf-spectacular==0.28.0

# cors headers
django-cors-headers==4.7.0

# broker (rabbitmq)
pika==1.3.2

# websockets
channels==4.1.0
channels-redis==4.2.0

# caching and sessions
redis==5.2.1

# env vars
python-dotenv==1.1.1

# json schema validation
jsonschema==4.25.0

# http requests
requests==2.32.4

# timezones
pytz==2025.2

# debugging
django-debug-toolbar==4.4.6
