/* style/components/_background.css */

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: conic-gradient(
    from -68.9deg at 74.22% 21.83%,
    #ffffff 0deg,
    #ffffff 22.5deg,
    #c584bf 116.83deg,
    #2163ff 211.15deg,
    #ffffff 360deg
  );
  overflow-y: auto;
}
