/* style/components/button.css */

.btn {
  box-sizing: border-box;
  border-radius: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 12px 16px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(33, 99, 255, 0.2);
  transform: translateY(0px);
}
.btn:hover {
  transform: translateY(-2px);
}

.btn--filler {
  width: 100%;
}

/* Button in primary color */
.btn--primary {
  background: #2163ff;
  border: 1px solid #2163ff;
  color: #ffffff;
}

.btn--primary:hover {
  background: #1952e0;
  border-color: #1952e0;
}

.btn--primary:active {
  transform: translateY(0);
}

/* Button in secondary color */
.btn--secondary {
  background: rgba(33, 99, 255, 0.08);
  border: 1px solid rgba(33, 99, 255, 0.08);
  color: #000000;
}

.btn--secondary:hover {
  background: rgba(33, 99, 255, 0.15);
  border-color: rgba(33, 99, 255, 0.15);
  transform: translateY(-1px);
}

.btn--secondary:active {
  transform: translateY(0);
}

/* Button for deleting in red color */
.btn--delete {
  background-color: #fee2e2;
  border: 2px solid #fecaca;
  color: #dc2626;
}

.btn--delete:hover {
  background-color: #fecaca;
  border-color: #ef4444;
}

/* Button in neutral/grey color */
.btn--neutral {
  background-color: '#f3f4f6';
  color: '#374151';
  border: '2px solid #e5e7eb';
}

.btn--neutral:hover {
  background-color: '#e5e7eb';
}

.btn--form {
  width: 100%;
  max-width: clamp(200px, 18.52vw, 300px);
  height: clamp(44px, 4.41vh, 52px);
  border-radius: 10px;
  font-size: clamp(15px, 1.8vh, 18px);
  font-weight: 600;
}

@media (max-width: 768px) {
  
  .btn--form {
    max-width: 100%;
    height: 48px;
    font-size: 16px;
  }
}
