.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: conic-gradient(from -68.9deg at 74.22% 21.83%,
      #ffffff 0deg,
      #ffffff 22.5deg,
      #2163ff 116.83deg, 
      #c584bf 211.15deg,
      #ffffff 360deg);

}

/* Header bar */
.header {
  position: absolute;
  width: 100vw;
  height: 7.5vh;
  left: 0;
  top: 0;
  background: #ffffff;
  opacity: 0.7;
}

/* Login button */
.login-btn {
  position: absolute;
  width: 5.67vw;
  height: 3.09vh;
  left: 78.47vw;
  top: 1.99vh;
  background: #2163ff;
  border-radius: 15px;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.55vh;
  line-height: 1.99vh;
  text-align: center;
}

/* Logo text */
.logo {
  position: absolute;
  left: 14.99vw;
  top: 2.1vh;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5vh;
  line-height: 3.2vh;
  text-align: center;
  color: #000;
}

/* Navigation links */
.nav-home,
.nav-func,
.nav-contact {
  background: transparent;
  border: none !important;
  position: absolute;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.55vh;
  line-height: 1.99vh;
  text-align: center;
  color: #000;
}

.nav-home {
  left: 40.16vw;
  top: 2.54vh;
}

.nav-func {
  left: 44.62vw;
  top: 2.54vh;
}

.nav-contact {
  left: 52.89vw;
  top: 2.54vh;
}

/* Header icon */
.header-icon {
  position: absolute;
  width: 1.85vw;
  height: 3.52vh;
  left: 58.04vw;
  top: 1.88vh;
  background: url('/image.png');
  background-size: cover;
}

/* Hero headline */
.hero-title {
  position: absolute;
  width: 43.23vw;
  height: 33.1vh;
  left: 15.45vw;
  top: 11.96vh;
  font-family: 'DM Sans', sans-serif;
  font-weight: 900;
  font-size: 10.12vh;
  line-height: 11.04vh;
  letter-spacing: -0.05em;
  color: #000;
}

/* Hero description */
.hero-desc {
  position: relative;
  width: 57.12vw;
  height: 31.11vh;
  left: 15.45vw;
  top: 54.25vh;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 3.95vh;
  line-height: 5.19vh;
  letter-spacing: -0.05em;
  color: #000;
}